.product {
    display: flex;
    flex-direction: column;
    /* border: 1px solid var(--tg-theme-button-color); */
    border: 0;
    padding: 4px;
    width: 130px;
    height: 300px;
}


.img {
    background: lightgray;
    max-height: 80%;
    max-width: 100%;
    margin: 0 auto;
    background: var(--tg-theme-button-color);
}

.description {
    font-size: 0.8em;
}

.add-btn, .view-btn {
    width: 35%;
    margin: 4px;
}
.add-btn.pressed {
    background-color:rgb(233,150,122)!important;
    margin: 4px;
}

.buttons_div{
    margin-top: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
